/* 
base color : #0D192B
main color : #07F9A2
others : #09C184,
#0A8967,#0C5149
*/

body{
    width : 100px;
    background-color : #0D192B;
}

#main{
    top : 100px;
    color : #07F9A2;
    position : absolute;
    width : 100%;
}


#logo {
    width : 500px;
    margin : 0 auto;
    border: solid 10px;
    border-radius : 40px;
}

#project_title {
    text-align: center;
    margin : 0px;
    padding : 0px;
    position : relative;
    font-size: 64pt;
}

#project_subtitle {
    text-align: center;
    margin : 0px;
    padding : 0px;
    position : relative;
    font-size: 32pt;
}

#date-and-place {
    position : relative;
    width : 600px;
    text-align : center;
    margin : 0 auto;
}

#date{
    position : relative;
    font-size : 20pt;
}

#place {
    position : relative;
    font-size : 20pt;
}


#concept {
    position : relative;
    width : 600px;
    text-align : center;
    margin : 0 auto;
}

#menu {
    position : relative;
    width : 900px;
    margin : 0 auto;
}

#menu > ul {
    position : relative;
    list-style: none;
    float : left;
    margin : 0 auto;
}

#menu > ul > li {
    position : relative;
    text-align : center;
    padding : 10px;
    float : left;
    width : 200px;
    padding : 0px 0px 5px 5px;
}


#menu > ul > li > a {
    text-align : center;
    font-size : 16pt;
    color : #09C184;
    width : 100%;
    display : block;
    text-decoration : none;
}

#menu > ul > li > a.selected {
    color : #07F9A2;
}


#menu > ul > li:hover {
    background : #0C5149;
}

#about {
    top : 100px;
}

.content {
    display : none;
    padding : 100px;
    width : 800px;
    margin : 0 auto;
    text-align : center;
}

.content h3 {
    font-size : 30px;
}

.content.selected {
    display : block;
}

