/* 
base color : #353631
main color : #0E8A6F
accent color : #B4C472
676E4D,939E65
*/

body{
    width : 100px;
    background-color : #353631;
}

#main{
    top : 100px;
    color : #B4C472;
    position : absolute;
    width : 100%;
}


#logo {
    width : 500px;
    margin : 0 auto;
    border: solid 10px;
}

#project_title {
    text-align: center;
    margin : 0px;
    padding : 0px;
    position : relative;
    font-size: 64pt;
}

#project_subtitle {
    text-align: center;
    margin : 0px;
    padding : 0px;
    position : relative;
    font-size: 32pt;
}

#date-and-place {
    position : relative;
    width : 600px;
    text-align : center;
    margin : 0 auto;
}

#date{
    position : relative;
    font-size : 20pt;
}

#place {
    position : relative;
    font-size : 20pt;
}


#concept {
    position : relative;
    width : 600px;
    text-align : center;
    margin : 0 auto;
}