/*
base color : #0D192B
main color : #07F9A2
others : #09C184,
#0A8967,#0C5149
*/

body{
    background-color : #0D192B;
    color : #07F9A2;
    padding-top:100px;
}
a{
  display: inline-block;
  padding:0 0.5em;
}
a:link { color : #28D6A7 }
a:visited { color : #28D6A7 }
a:hover{background-color:#0C5149}
header {
    text-align : center;
}

#logo {
    width : 500px;
    margin : 0 auto;
    border: solid 10px;
    border-radius : 40px;
}

#project_title {
    text-align: center;
    margin : 0px;
    padding : 0px;
    position : relative;
    font-size: 64pt;
}

#project_subtitle {
    text-align: center;
    margin : 0px;
    padding : 0px;
    position : relative;
    font-size: 32pt;
}

#date-and-place {
    position : relative;
    width : 600px;
    text-align : center;
    margin : 0 auto;
}

#overview time{
  font-weight: bold;
  font-size : 20pt;
}

#place {
    position : relative;
    font-size : 20pt;
}



#menu {
    position : relative;
    width : 900px;
    margin : 0 auto;
}

#menu > ul {
    position : relative;
    list-style: none;
    float : left;
    margin : 0 auto;
}

#menu > ul > li {
    position : relative;
    text-align : center;
    float : left;
}


#menu > ul > li > a {
    text-align : center;
    font-size : 16pt;
    color : #09C184;
    width : 200px;
    padding : 0;
    display : block;
    text-decoration : none;
    border-right : solid 1px;
}

#menu > ul > li:first-child > a {
    border-left : solid 1px;
}

#menu > ul > li > a.selected {
    color : #07F9A2;
    background : #0A8967;
}


#menu > ul > li:hover {
    background : #0C5149;
}

#about {
    top : 100px;
}

.content {
    display : none;
    padding : 100px;
    width : 800px;
    margin : 0 auto;
    text-align : center;
}

.content h2 {
    font-size : 30px;
}

.content.selected {
    display : block;
}

.content.text p {
    text-align : left;
}

.content table {
    width: 100%;
    border-collapse: separate;
}

.content th{
    width: 25%;
    padding: 6px;
    text-align: center;
    vertical-align: top;
    color: #09C184;
    border: 1px solid #0A8967;
}

.content td{
    text-align : left;
    padding: 6px;
    border: 1px solid #0A8967;
}

#about p.about_centered {
    text-align : center;
    font-weight : bold;
}