/*
--------------------------------------------------
  Reset Style
--------------------------------------------------
*/
/* line 6, sass/web2016.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, sass/web2016.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, sass/web2016.scss */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 35, sass/web2016.scss */
ol, ul {
  list-style: none;
}

/* line 38, sass/web2016.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
--------------------------------------------------
  PC Base Style
--------------------------------------------------
*/
/* line 80, sass/web2016.scss */
body {
  color: #fff;
  background: #0b1d06;
  font-family: "HiraKakuProN-W6", sans-serif;
  font-size: 26px;
  text-align: center;
}

/* line 87, sass/web2016.scss */
section {
  padding: 70px 0;
}

/* line 90, sass/web2016.scss */
a {
  text-decoration: none;
}

/* line 93, sass/web2016.scss */
h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
}

/* line 97, sass/web2016.scss */
nav {
  background: #082a00;
  height: 92px;
}

/* line 101, sass/web2016.scss */
.nav-top {
  max-width: 1025px;
  height: 100%;
  margin: 0 auto;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
/* line 117, sass/web2016.scss */
.nav-top li {
  width: 100%;
  /*remove when menu is added*/
}
/* line 120, sass/web2016.scss */
.nav-top .nav-left {
  color: #e6e6e6;
}
/* line 123, sass/web2016.scss */
.nav-top .nav-middle {
  height: 58px;
  width: 448px;
  background-image: url(../images/web2016/nav-title.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  margin: 0 auto;
  /*remove when menu is added*/
}
/* line 132, sass/web2016.scss */
.nav-top .nav-right {
  background: #06d402;
  background-image: -webkit-linear-gradient(top, #06d402, #028f09);
  background-image: -moz-linear-gradient(top, #06d402, #028f09);
  background-image: -ms-linear-gradient(top, #06d402, #028f09);
  background-image: -o-linear-gradient(top, #06d402, #028f09);
  background-image: linear-gradient(to bottom, #06d402, #028f09);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  color: #fff;
  font-size: 18px;
  border-top: solid #27ff76 1px;
  font-weight: bold;
  display: inline-block;
  padding: 4px 30px 7px;
}
/* line 63, sass/web2016.scss */
.nav-top .nav-right:hover {
  background: #23fd20;
  background-image: -webkit-linear-gradient(top, #23fd20, #02ba0b);
  background-image: -moz-linear-gradient(top, #23fd20, #02ba0b);
  background-image: -ms-linear-gradient(top, #23fd20, #02ba0b);
  background-image: -o-linear-gradient(top, #23fd20, #02ba0b);
  background-image: linear-gradient(to bottom, #23fd20, #02ba0b);
  color: #def5de;
}

/* line 137, sass/web2016.scss */
.trapezoid {
  border-top: 20px solid #082a00;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 20px;
  width: 240px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

/* line 145, sass/web2016.scss */
.header-pc {
  display: block;
}

/* line 148, sass/web2016.scss */
.header-sp {
  display: none;
}

/* line 151, sass/web2016.scss */
header {
  background: url(../images/web2016/main.png) center, #000101;
  background-repeat: no-repeat;
  position: relative;
  height: 820px;
}
/* line 157, sass/web2016.scss */
header .head01intro {
  top: 65px;
  font-size: 30px;
  width: 100%;
}
/* line 162, sass/web2016.scss */
header h1 {
  text-indent: -9999px;
  overflow: hidden;
}
/* line 166, sass/web2016.scss */
header .head02date {
  bottom: 169px;
  font-size: 50px;
  color: #e6e6e6;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
}
/* line 173, sass/web2016.scss */
header .head03place {
  bottom: 137px;
  font-size: 24px;
  color: #e6e6e6;
  width: 100%;
}
/* line 179, sass/web2016.scss */
header .header-btn {
  bottom: 68px;
  background: #06d402;
  background-image: -webkit-linear-gradient(top, #06d402, #028f09);
  background-image: -moz-linear-gradient(top, #06d402, #028f09);
  background-image: -ms-linear-gradient(top, #06d402, #028f09);
  background-image: -o-linear-gradient(top, #06d402, #028f09);
  background-image: linear-gradient(to bottom, #06d402, #028f09);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  color: #fff;
  font-size: 18px;
  border-top: solid #27ff76 1px;
  font-weight: bold;
  display: inline-block;
  padding: 9px 70px 12px;
}
/* line 63, sass/web2016.scss */
header .header-btn:hover {
  background: #23fd20;
  background-image: -webkit-linear-gradient(top, #23fd20, #02ba0b);
  background-image: -moz-linear-gradient(top, #23fd20, #02ba0b);
  background-image: -ms-linear-gradient(top, #23fd20, #02ba0b);
  background-image: -o-linear-gradient(top, #23fd20, #02ba0b);
  background-image: linear-gradient(to bottom, #23fd20, #02ba0b);
  color: #def5de;
}

/* line 186, sass/web2016.scss */
.info {
  margin: 0 auto;
}
/* line 189, sass/web2016.scss */
.info p {
  color: #e0e0e0;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  margin-top: 10px;
}
/* line 196, sass/web2016.scss */
.info .p-pc {
  display: block;
  white-space: pre-line;
  padding: 0 20px;
}
/* line 201, sass/web2016.scss */
.info .p-sp {
  display: none;
}

/* line 205, sass/web2016.scss */
.map-container {
  position: relative;
}

/* line 208, sass/web2016.scss */
#map {
  height: 550px;
}

/* line 211, sass/web2016.scss */
.overlay {
  max-width: 1100px;
  margin: 0 auto;
}

/* line 215, sass/web2016.scss */
.overlay-inner {
  width: 420px;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  font-size: 18px;
  text-align: center;
  padding: 20px 0 57px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
/* line 228, sass/web2016.scss */
.overlay-inner h2 {
  font-weight: bold;
  line-height: 1.6;
}
/* line 232, sass/web2016.scss */
.overlay-inner .line {
  margin: 0 30px;
  height: 2px;
  background: #000;
}
/* line 237, sass/web2016.scss */
.overlay-inner .over-txt01 {
  font-size: 24px;
  margin: 17px 0 7px;
  line-height: 1.2;
  font-weight: bold;
}
/* line 243, sass/web2016.scss */
.overlay-inner .over-txt02 {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  line-height: 1.6;
}
/* line 247, sass/web2016.scss */
.overlay-inner em {
  font-family: "HiraKakuProN-W6", sans-serif;
  font-weight: bold;
}
/* line 251, sass/web2016.scss */
.overlay-inner a {
  display: inline-block;
  color: #116200;
  margin-top: 23px;
}
/* line 256, sass/web2016.scss */
.overlay-inner .trapezoid-bottom {
  display: none;
  border-bottom: 20px solid #0b1d06;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 20px;
  width: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 0;
}

/* line 267, sass/web2016.scss */
footer {
  height: 98px;
  position: relative;
}
/* line 271, sass/web2016.scss */
footer small {
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #c8e3c2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (min-width: 900px) {
  /* line 286, sass/web2016.scss */
  header * {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
}
@media only screen and (max-width: 899px) {
  /* line 291, sass/web2016.scss */
  section {
    padding: 45px 0;
  }

  /* line 294, sass/web2016.scss */
  nav {
    height: auto;
  }

  /* line 298, sass/web2016.scss */
  .nav-top li {
    padding: 10px 0;
  }
  /* line 301, sass/web2016.scss */
  .nav-top .nav-middle {
    height: auto;
    width: 60%;
    background-size: contain;
    background-position: center;
  }

  /* line 308, sass/web2016.scss */
  .header-pc {
    display: none;
  }

  /* line 311, sass/web2016.scss */
  .header-sp {
    display: block;
  }

  /* line 314, sass/web2016.scss */
  header {
    background: url(../images/web2016/main-sp-bg.png) center, #000101;
    background-size: cover;
    height: auto;
  }
  /* line 319, sass/web2016.scss */
  header * {
    margin: 0 auto;
  }
  /* line 322, sass/web2016.scss */
  header img {
    width: 100%;
  }
  /* line 325, sass/web2016.scss */
  header .head01intro {
    width: 80%;
    font-size: 16px;
    line-height: 1.6;
    padding: 50px 0 5px;
    white-space: pre-line;
  }
  /* line 332, sass/web2016.scss */
  header .head02date {
    font-size: 28px;
    margin-top: -10px;
  }
  /* line 336, sass/web2016.scss */
  header .head03place {
    width: 90%;
    font-size: 14px;
    margin-top: 10px;
  }
  /* line 341, sass/web2016.scss */
  header .header-btn {
    padding: 9px 0 12px;
    width: 200px;
    margin: 25px 0 65px;
  }

  /* line 347, sass/web2016.scss */
  .trapezoid {
    width: 30%;
    border-top: 15px solid #082a00;
    height: 15px;
  }

  /* line 353, sass/web2016.scss */
  .info h2 {
    margin-bottom: 15px;
  }
  /* line 356, sass/web2016.scss */
  .info .p-pc {
    display: none;
  }
  /* line 359, sass/web2016.scss */
  .info .p-sp {
    display: block;
    margin: 0 auto;
    width: 90%;
    font-size: 18px;
    white-space: normal;
  }

  /* line 367, sass/web2016.scss */
  #map {
    height: 470px;
  }

  /* line 370, sass/web2016.scss */
  .overlay {
    width: 100%;
    margin: 0 auto;
  }

  /* line 374, sass/web2016.scss */
  .overlay-inner {
    width: 100%;
    font-size: 24px;
    height: 470px;
    box-sizing: border-box;
    padding: 40px 0 90px;
  }
  /* line 381, sass/web2016.scss */
  .overlay-inner .over-txt01 {
    font-size: 20px;
    margin: 25px 0 10px;
  }
  /* line 385, sass/web2016.scss */
  .overlay-inner .over-txt02 {
    font-size: 16px;
  }
  /* line 388, sass/web2016.scss */
  .overlay-inner .line {
    margin: 10px 30px;
    height: 4px;
  }
  /* line 392, sass/web2016.scss */
  .overlay-inner a {
    border: 3px solid #116200;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    padding: 15px 50px;
    font-size: 16px;
  }
  /* line 400, sass/web2016.scss */
  .overlay-inner .trapezoid-bottom {
    display: block;
    width: 30%;
    border-bottom: 15px solid #0b1d06;
    height: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  /* line 410, sass/web2016.scss */
  header .head01intro {
    font-size: 20px;
    white-space: normal;
    padding-top: 50px;
    margin-bottom: -10px;
  }
  /* line 416, sass/web2016.scss */
  header .head02date {
    font-size: 32px;
    margin-top: -35px;
  }
  /* line 420, sass/web2016.scss */
  header .head03place {
    font-size: 20px;
  }
}
