/*
--------------------------------------------------
  Reset Style
--------------------------------------------------
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
--------------------------------------------------
  PC Base Style
--------------------------------------------------
*/
body {
  color: #fff;
  background: #0b1d06;
  font-family: "HiraKakuProN-W6", sans-serif;
  font-size: 26px;
  text-align: center; }

section {
  padding: 70px 0; }

a {
  text-decoration: none; }

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px; }

nav {
  background: #082a00;
  height: 92px; }

.nav-top {
  max-width: 1025px;
  height: 100%;
  margin: 0 auto;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }
  .nav-top li {
    width: 100%;
    /*remove when menu is added*/ }
  .nav-top .nav-left {
    color: #e6e6e6; }
  .nav-top .nav-middle {
    height: 58px;
    width: 448px;
    background-image: url(../images/web2016/nav-title.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    /*remove when menu is added*/ }
  .nav-top .nav-right {
    background: #06d402;
    background-image: -webkit-linear-gradient(top, #06d402, #028f09);
    background-image: -moz-linear-gradient(top, #06d402, #028f09);
    background-image: -ms-linear-gradient(top, #06d402, #028f09);
    background-image: -o-linear-gradient(top, #06d402, #028f09);
    background-image: linear-gradient(to bottom, #06d402, #028f09);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    color: #fff;
    font-size: 18px;
    border-top: solid #27ff76 1px;
    font-weight: bold;
    display: inline-block;
    padding: 4px 30px 7px; }
    .nav-top .nav-right:hover {
      background: #23fd20;
      background-image: -webkit-linear-gradient(top, #23fd20, #02ba0b);
      background-image: -moz-linear-gradient(top, #23fd20, #02ba0b);
      background-image: -ms-linear-gradient(top, #23fd20, #02ba0b);
      background-image: -o-linear-gradient(top, #23fd20, #02ba0b);
      background-image: linear-gradient(to bottom, #23fd20, #02ba0b);
      color: #def5de; }

.trapezoid {
  border-top: 20px solid #082a00;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 20px;
  width: 240px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%); }

.header-pc {
  display: block; }

.header-sp {
  display: none; }

header {
  background: url(../images/web2016/main.png) center, #000101;
  background-repeat: no-repeat;
  position: relative;
  height: 820px; }
  header .head01intro {
    top: 65px;
    font-size: 30px;
    width: 100%; }
  header h1 {
    text-indent: -9999px;
    overflow: hidden; }
  header .head02date {
    bottom: 169px;
    font-size: 50px;
    color: #e6e6e6;
    font-family: "Roboto Condensed", sans-serif;
    width: 100%; }
  header .head03place {
    bottom: 137px;
    font-size: 24px;
    color: #e6e6e6;
    width: 100%; }
  header .header-btn {
    bottom: 68px;
    background: #06d402;
    background-image: -webkit-linear-gradient(top, #06d402, #028f09);
    background-image: -moz-linear-gradient(top, #06d402, #028f09);
    background-image: -ms-linear-gradient(top, #06d402, #028f09);
    background-image: -o-linear-gradient(top, #06d402, #028f09);
    background-image: linear-gradient(to bottom, #06d402, #028f09);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    color: #fff;
    font-size: 18px;
    border-top: solid #27ff76 1px;
    font-weight: bold;
    display: inline-block;
    padding: 9px 70px 12px; }
    header .header-btn:hover {
      background: #23fd20;
      background-image: -webkit-linear-gradient(top, #23fd20, #02ba0b);
      background-image: -moz-linear-gradient(top, #23fd20, #02ba0b);
      background-image: -ms-linear-gradient(top, #23fd20, #02ba0b);
      background-image: -o-linear-gradient(top, #23fd20, #02ba0b);
      background-image: linear-gradient(to bottom, #23fd20, #02ba0b);
      color: #def5de; }

.info {
  margin: 0 auto; }
  .info p {
    color: #e0e0e0;
    font-size: 24px;
    line-height: 1.5;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    margin-top: 10px; }
  .info .p-pc {
    display: block;
    white-space: pre-line;
    padding: 0 20px; }
  .info .p-sp {
    display: none; }

.map-container {
  position: relative; }

#map {
  height: 550px; }

.overlay {
  max-width: 1100px;
  margin: 0 auto; }

.overlay-inner {
  width: 420px;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  font-size: 18px;
  text-align: center;
  padding: 20px 0 57px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }
  .overlay-inner h2 {
    font-weight: bold;
    line-height: 1.6; }
  .overlay-inner .line {
    margin: 0 30px;
    height: 2px;
    background: #000; }
  .overlay-inner .over-txt01 {
    font-size: 24px;
    margin: 17px 0 7px;
    line-height: 1.2;
    font-weight: bold; }
  .overlay-inner .over-txt02 {
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    line-height: 1.6; }
  .overlay-inner em {
    font-family: "HiraKakuProN-W6", sans-serif;
    font-weight: bold; }
  .overlay-inner a {
    display: inline-block;
    color: #116200;
    margin-top: 23px; }
  .overlay-inner .trapezoid-bottom {
    display: none;
    border-bottom: 20px solid #0b1d06;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 20px;
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: -1px; }

footer {
  height: 98px;
  position: relative; }
  footer small {
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    color: #c8e3c2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

@media only screen and (min-width: 900px) {
  header * {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%); } }
@media only screen and (max-width: 899px) {
  section {
    padding: 45px 0; }

  nav {
    height: auto; }

  .nav-top li {
    padding: 10px 0; }
  .nav-top .nav-middle {
    height: auto;
    width: 60%;
    background-size: contain;
    background-position: center; }

  .header-pc {
    display: none; }

  .header-sp {
    display: block; }

  header {
    background: url(../images/web2016/main-sp-bg.png) center, #000101;
    background-size: cover;
    height: auto; }
    header * {
      margin: 0 auto; }
    header img {
      width: 100%; }
    header .head01intro {
      width: 80%;
      font-size: 16px;
      line-height: 1.6;
      padding: 50px 0 5px;
      white-space: pre-line; }
    header .head02date {
      font-size: 28px;
      margin-top: -10px; }
    header .head03place {
      width: 90%;
      font-size: 14px;
      margin-top: 10px; }
    header .header-btn {
      padding: 9px 0 12px;
      width: 200px;
      margin: 25px 0 65px; }

  .trapezoid {
    width: 30%;
    border-top: 15px solid #082a00;
    height: 15px; }

  .info h2 {
    margin-bottom: 15px; }
  .info .p-pc {
    display: none; }
  .info .p-sp {
    display: block;
    margin: 0 auto;
    width: 90%;
    font-size: 18px;
    white-space: normal; }

  #map {
    height: 470px; }

  .overlay {
    width: 100%;
    margin: 0 auto; }

  .overlay-inner {
    width: 100%;
    font-size: 24px;
    height: 470px;
    box-sizing: border-box;
    padding: 40px 0 90px; }
    .overlay-inner .over-txt01 {
      font-size: 20px;
      margin: 25px 0 10px; }
    .overlay-inner .over-txt02 {
      font-size: 16px; }
    .overlay-inner .line {
      margin: 10px 30px;
      height: 4px; }
    .overlay-inner a {
      border: 3px solid #116200;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      border-radius: 60px;
      padding: 15px 50px;
      font-size: 16px; }
    .overlay-inner .trapezoid-bottom {
      display: block;
      width: 30%;
      border-bottom: 15px solid #0b1d06;
      height: 15px; } }
@media only screen and (min-width: 768px) and (max-width: 899px) {
  header .head01intro {
    font-size: 20px;
    white-space: normal;
    padding-top: 50px;
    margin-bottom: -10px; }
  header .head02date {
    font-size: 32px;
    margin-top: -35px; }
  header .head03place {
    font-size: 20px; } }

/*# sourceMappingURL=web2016.css.map */
